@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700');

* {
    box-sizing: border-box;
    font-size: 10px;
    
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(to left, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.container{
    background-color: rgb(255, 255, 255);
    height: auto;
    max-width: 90rem;
    margin: auto;
    position: relative;
    top: 20rem;
    /* margin: 25rem 50rem; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow: 1px 1px 50px 3px hsl(273, 64%, 43%);
    color: rgb(134, 134, 134);
}
/* background size is the width and height of the image */
/* width and height is the size of the container*/
.bg_image_back{
    background-size: auto 800px; 
    width: 420px;
    height: 600px;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
}
    .bg_image_woman{
        /* background-size: auto auto;  */
        width: auto;
        height: 450px;
        background-image: 
        url("./images/illustration-woman-online-desktop.svg");
        background-repeat: no-repeat;
    }
    .bottom_image {
        background-position: right 0px bottom 0px ;
    }
    .middle_image {
        background-position: right 1px bottom 3px ;
    }
        .top_box_image {
            position: relative;
            top: 23rem;
            left: -7rem;
        }

.faqs {
    height: 45rem;
    width: 38rem;
    margin: 0 5rem;
    padding: 1rem; 
}
.questions {
    border-bottom:  solid 2pt hsl(240, 5%, 91%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }
    .questions:hover {
     cursor: pointer;
    }

.faqs h1 {
    font-size: 22px;
    margin-bottom: 1.5rem;
    color: black;
}
    .questions h2 {
        padding: 1rem 1rem 1rem 0;
        font-size: 12px;
        font-weight: 700;
    }
    .answers p {
        font-size: 12px;
        font-weight: 400;
    }

    .answers {
        position: absolute;
        visibility: hidden;
    }
    
    .questions:hover + .answers {
        position: relative;
        visibility: visible;
    }
.attribution {
    font-size: 11px;
    color: black;
    position: relative;
    bottom: 10rem;
    left: 50rem;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media only screen and (max-width: 950px) {
    .container{
        height: 70vh;
        max-width: 50rem;
        top: 20rem;
        display: flex;
        justify-content: center;
    }
    .top_box_image {
        visibility: hidden;
    }
    .bg_image_back{
        position: relative;
        top:-12rem;
        background-size: 350px 200px; 
        width: 500px;
        height: 230px;
        background-image: url("./images/bg-pattern-mobile.svg");
        background-repeat: no-repeat;
    }
        .bg_image_woman{
            position: relative;
            top: -10rem;
            background-size: 300px 300px; 
            width: auto;
            height: 300px;
            background-image: 
            url("./images/illustration-woman-online-mobile.svg");
            background-repeat: no-repeat;
        }
        .bottom_image {
            background-position: right 70px top 0px ;
        }
        .middle_image {
            background-position: right 110px top 4px ;
        }

.faqs {
    margin-top: -23rem;
}
    .faqs h1 {
        text-align: center;
    }
    .attribution {
        position: relative;
        margin: 1rem;
        left: 0rem;
    }
  }